.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  opacity: 0.85;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon {
    width: 59px;
    height: 56px;
    margin-bottom: 14px;
    background-image: url("../img/loader/icon.png");
    animation-name: loader__iconAnimation;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__text {
    color: #646464;
    font-size: 16px;
  }
}

@keyframes loader__iconAnimation {
  100% {
    transform: rotate(-360deg);
  }
}
