//text colors
$text-black: #0a0a0a;
$text-white: #ffffff;

//backgrounds colors
$bg-black: #060605;
$bg-grey: #e9e9e9;
$bg-light-grey: #efefef;

//border colors
$border-grey: #ececec;

//misc colors
$green-color: #63d1bb;
$black-soft-color: #444444;


//promo-video__play size
$play-width-mobile: 101px;
$play-height-mobile: 77px;
